/*Personalização scroll*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px #20272C;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background: #20272C;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #273742;
}
/*Fim Personalização scroll*/
/*Preloader para elemento*/
.preloader-animation:after {
    border-top-color: #004F14 !important;
}
.preloader-animation:before {
    border-top-color: #20272C !important;
}
.preloader-animation {
    border-top-color: #FFB511 !important;
}
/*Fim Preloader para elemento*/