@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12" id="cadastroUsaurioTitle">
        <h2>Cadastro de Usuário</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button id="salva-usuario" type="button" class="btn btn-success"> <i class="fa  fa-floppy-o fa-fw"></i>&nbsp;Salvar usuário</button>
            <button id="cancelar" type="button" class="btn btn-warning"> <i class="fa  fa-times-circle fa-fw"></i>&nbsp;Cancelar</button>
        </div>
    </div>
</div>


<div class="col-lg-12">
    
    <div class="col-lg-6">
        <div class="form-group">
            <label for="nome-usuario">Nome Usuário</label>
            <input type="text" class="form-control" id="nome-usuario" placeholder="Digite o nome do usuário" required>
        </div>
        <div class="form-group">
            <label for="login-usuario">Login Usuário</label>
            <input type="text" class="form-control" id="login-usuario" placeholder="Digite o login do usuário" required>
        </div>
        <div class="form-group">
            <label for="email-usuario">E-mail Usuário</label>
            <input type="email" class="form-control" id="email-usuario" placeholder="Digite o email do usuário" required>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
            <label for="senha-usuario">Senha Usuário</label>
            <input type="password" class="form-control" id="senha-usuario" placeholder="Digite a senha do usuário" required>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
            <label for="resenha-usuario">Confirme a senha Usuário</label>
            <input type="password" class="form-control" id="resenha-usuario" placeholder="Confirme a senha do usuário" required>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="usuario-ativo">
            <label class="form-check-label" for="usuario-ativo">Ativo</label>
        </div>
    </div>
</div>

<script src="~/js/Views/Detalhes/DetalheUsuario.js?v=1.0.6"></script>